@import '/SASS/text/text.css';
@import '/SASS/button/button.css';
@import '/SASS/card/card.css';
@import '/SASS/logo/logo.css';
@import '/SASS/paginator/paginator.css';
@import '/SASS/input/input.css';
@import '/SASS/sections/section.css';
@import '/SASS/sections/header/header.css';
@import '/SASS/sections/sub-header/sub-header.css';
@import '/SASS/sections/home/home.css';
@import '/SASS/sections/about/about.css';
@import '/SASS/sections/rooms/rooms.css';
@import '/SASS/sections/rooms/room-detail.css';
@import '/SASS/sections/rooms/offers.css';
@import '/SASS/sections/contact/contact.css';
@import '/SASS/sections/footer/footer.css';
@import '/SASS/slider.css';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700;900&family=Old+Standard+TT:wght@400;700&family=Oswald:wght@700&family=Roboto:wght@400;500;700&display=swap');

html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    min-width: 320px; 
}

a {
    text-decoration: none;
}
